name: PR Checks

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    name: Go Test
    runs-on: chord-be-cluster-runner
    #runs-on: ubuntu-latest
    #runs-on: chord-paper-be-runner
    
    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000

      rabbitmq:
        image: rabbitmq:3.10
        ports:
          - 5672:5672

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Test
        working-directory: ./go-rewrite/src
        run: go test -v ./...
