name: PR Build

on: [pull_request]

jobs:
  build:
    name: Verify Build
    runs-on: ubuntu-latest
    #runs-on: chord-paper-be-runner
    steps:
      - name: Install OpenSSL
        run: pacman -S pkg-config openssl
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features
