name: Server Build/Test

on:
  workflow_call:

jobs:
  build:
    name: Server Build
    runs-on: cluster-runner
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Build
        working-directory: ./server/src
        run: go build -v

  test:
    name: Server Test
    runs-on: cluster-runner
    #runs-on: ubuntu-latest

    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000

      rabbitmq:
        image: rabbitmq:3.10
        ports:
          - 5672:5672

    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Test
        working-directory: ./server/src
        run: go test -v ./...