name: Split Track Integration Test

on:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: cluster-runner

    services:
      dynamodb:
        image: amazon/dynamodb-local
        ports:
          - 8000:8000

      rabbitmq:
        image: rabbitmq:3.10
        ports:
          - 5672:5672

    steps:
      - uses: actions/checkout@v2

      - name: Install Spleeter dependencies
        run: |
          sudo apt-get update
          sudo apt install -y ffmpeg

      - name: Install Spleeter
        run:
          pip install --no-cache-dir "protobuf==3.20.1" "numba==0.53.0" spleeter==2.3.0

      - name: Set Spleeter bin environment variable
        run: echo "SPLEETER_BIN_PATH=$(which spleeter)" >> $GITHUB_ENV

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Test
        working-directory: ./src/shared/integration_test
        run: go test -v ./...
